* {
    /* border: solid 2px black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
}

main {
    height: 80%;
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
}